<% editions = ["Hardcover", "Pocket", "Paperback", "Spiral-bound"] %>
<% qualities = ["Like new", "Very good", "Good", "Acceptable", "Bad"] %>


<div class="container">
  <div class="col-xs-8 col-xs-offset-2">
    <%= simple_form_for @collection_item do |f| %>
      <%= f.input :price_per_day %>
      <%= f.input :edition, collection: editions, as: :select %>
      <%= f.input :quality, collection: qualities, as: :select %>
      <%= f.input :description %>
      <%= f.button :submit, class: "submit-form"  %>
    <% end %>
  </div>
</div>
