<% editions = ["Hardcover", "Pocket", "Paperback", "Spiral-bound"] %>
<% qualities = ["Like new", "Very good", "Good", "Acceptable", "Bad"] %>

<div class="container">
  <div class="col-xs-8 col-xs-offset-2">
    <%= simple_form_for @collection_item do |f| %>
      <%= f.input :fake_title, label: "Title" %>
      <%= f.input :title, :as => :hidden %>
      <%= f.input :synopsis, :as => :hidden %>
      <%= f.input :author, :as => :hidden %>
      <%= f.input :photo, :as => :hidden %>
      <%= f.input :genre, :as => :hidden %>
      <%= f.input :price_per_day, input_html: { min: 0 } %>
      <%= f.input :edition, collection: editions, as: :select %>
      <%= f.input :quality, collection: qualities, as: :select %>
      <%= f.input :description %>
      <%= f.button :submit, class: "submit-form" %>
    <% end %>
  </div>
</div>

<div id="results" style="position: absolute;"></div>

