<div class="main-container">
  <div class="search-results">
    <div class="container-fluid">
      <div class="row">
        <% @collection_items.each do |collection_item| %>
          <div class="col-xs-12 col-sm-6 col-md-4">

            <% if collection_item && collection_item.book %>
              <%= link_to collection_item_path(collection_item) do %>
                <div class="card card-small">
                  <div class="card-top" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("<%= image_default(collection_item.book, 'book.png')%>"); background-size: cover">
                  </div>
                  <div class="card-bottom">
                    <p>Title : <%= collection_item.book.title %></p>
                    <p>Author : <%= collection_item.book.author %></p>
                    <p>Genre : <%= collection_item.book.genre %></p>
                    <p>Average rating : <%= collection_item.book.average_rating %></p>
                    <p>Owner (à remplacer par son avatar): <%= collection_item.profile.first_name %></p>
                    <!-- <p>Owner's address (not for display), but for map (?): <%= collection_item.profile.address %></p> -->
                  </div>
                </div>
              <% end %>

            <% else %>

            <% fail %>
              <p>Pas de livre dans ta ville!</p>

            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="map"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @markers.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>
<% end %>
</div>


<!-- Quand Clement aura fini, remplacer les cards par ce partial :
<%= render 'shared/collection_item_card', collection_item: @collection_items.first %>
-->
