<div class="container">
<div class="profile-card-show col-md-6 col-xs-12">
  <header id="ze_book">
    <div class="book">
    <% if @collection_item.book.photo && @collection_item.book.photo.length > 5 %>
      <%= cl_image_tag @collection_item.book.photo, class: "hoverZoomLink"%>
    <% else %>
      <%= image_tag "https://images.unsplash.com/photo-1502979932800-33d311b7ce56?auto=format&fit=crop&w=1650&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D", class: "hoverZoomLink"%>
    <% end %>
  <h4><%= @collection_item.book.title %></h4>
  </div>
  <div class="owner">
    <%= link_to @collection_item.profile do %>
      <ul class="list-inline">
      <li>Owner : </li>
      <% if @collection_item.profile.photo %>
        <li><%= cl_image_tag @collection_item.profile.photo, class: "owner_picture" %></li>
      <% end %>
      <li><%= @collection_item.profile.first_name %></li>
      <li><%= @collection_item.profile.last_name %></li>
      </ul>
    <% end %>
  </div>
  </header>
  <div class="profile-bio">
    <div class="synopsis">
      <% if @collection_item.book.synopsis && @collection_item.book.synopsis.length > 5 %>
        <h3 id="latest">Synopsis</h3>
        <p><%= @collection_item.book.synopsis %></p>
      <% end %>
    </div>
    <div class="review">
    <h3 id="latest-review">Latest reviews</h3>
    <ul class="list-inline reviews">
      <% @collection_item.reviews.each do |review| %>
        <li style="margin: 10px">
          <%= review.content %>
          <% review.rating.to_i.times do %>
          <i class="fa fa-star" aria-hidden="true"></i>
          <% end %>
          <% (5 - review.rating.to_i).times do %>
          <i class="fa fa-star" style="color: lightgray" aria-hidden="true"></i>
          <% end %>
          </li>
        <br>
      <% end %>
    </ul>
  <div class="add text-center">
    <%= link_to "Add a review", new_collection_item_review_path(@collection_item), class: "btn btn-primary" %>
  </div>
  </div>
  </div>
    <div class="date">
     <%= simple_form_for [@collection_item, @reservation], class: "col-xs-6" do |f| %>
       <p>Start <%= f.date_field :start_day, label: "Start" %></p>
       <p>End <%= f.date_field :end_day, label: "End" %></p>
     <%= f.button :submit %>
      <% end %>
  </div>

  <!-- some social links to show off -->
</div>
</div>
