<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <h2 class="text-center">My profile</h2>
        <div class="carte carte-big">
          <div class="carte-top" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= profile_image(@profile, 'person.png') %>'); background-size: cover">
          </div>
          <div class="carte-bottom">
            <p><strong>Name</strong> : <%= @profile.first_name %></p>
            <p><strong>City</strong> : <%= @profile.city %></p>
            <p><strong>Description</strong> : <%= @profile.description %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center">Books</h2>
      </div>
      <% @profile.collection_items.each do |collection_item| %>
        <div class="col-xs-6 col-sm-6 col-md-4">
          <%= link_to collection_item_path(collection_item) do %>
            <%= render 'shared/collection_item_card', collection_item: collection_item %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
